<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
  <h1>Catatan Barang Masuk</h1>
  <div>
    <div class="oj-panel oj-panel-alt2">
      <oj-button id='add' on-click='[[addClick]]'>Tambah</oj-button>
      <oj-button id='refresh' on-click='[[refreshClick]]'>Refresh</oj-button>
      <oj-button id='delete' on-click='[[deleteClick]]'>Hapus</oj-button>
    </div>
    <br/>
    <div class="oj-panel oj-panel-alt2">
      <oj-table id='incomingTable' aria-label='Barang Masuk'
      style='width: 1px; min-width: 100%;'
      selection-mode='{"row": "single", "column": "single"}' 
      data='[[dataprovider]]'
      edit-mode='rowEdit'
      on-oj-before-row-edit-end='[[beforeRowEditEndListener]]'
      columns-default.sortable='disabled' 
      row-renderer='[[rowRenderer]]'	
      columns='[{"headerText": "Waktu",
      "field": "time"},
      {"headerText": "SKU",
      "field": "sku"},
      {"headerText": "Nama Barang", 
      "field": "description"},
      {"headerText": "Jumlah Pemesanan", 
      "field": "ordered"},
      {"headerText": "Jumlah Diterima", 
      "field": "received"},
      {"headerText": "Harga Beli", 
      "field": "price"},
      {"headerText": "Total", 
      "field": "total"},
      {"headerText": "Nomor Kwitansi", 
      "field": "receipt"},
      {"headerText": "Catatan", 
      "field": "note"}]'>
    </oj-table>
  </div>
</div>
</div>
<script type="text/html" id="rowTemplate">
  <tr>
    <td data-bind="text: time">
    </td>
    <td data-bind="text: sku">
    </td>
    <td data-bind="text: description">
    </td>
    <td data-bind="text: ordered">
    </td>
    <td data-bind="text: received">
    </td>
    <td data-bind="text: price">
    </td>
    <td data-bind="text: total">
    </td>
    <td data-bind="text: receipt">
    </td>
    <td data-bind="text: note">
    </td>
  </tr>
</script>
<script type="text/html" id="editRowTemplate">
  <tr>
    <td data-bind="text: time">
    </td>
    <td data-bind="text: sku">
    </td>
    <td data-bind="text: description">
    </td>
    <td>
      <oj-input-number id="in1" value="{{ordered}}" data-oj-context></oj-input-number>
    </td>
    <td>
      <oj-input-number id="in2" value="{{received}}" data-oj-context></oj-input-number>
    </td>
    <td>
      <oj-input-number id="in3" value="{{price}}" data-oj-context></oj-input-number>
    </td>
    <td data-bind="text: total">
    </td>
    <td>
      <oj-input-text id="it2" value="{{receipt}}" data-oj-context></oj-input-text>
    </td>
    <td>
      <oj-input-text id="it2" value="{{note}}" data-oj-context></oj-input-text>
    </td>
  </tr>
</script>
<oj-dialog id="addIncomingDialog" title="Tambah Barang Masuk">
   <div slot="body">
          <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">  
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control1" show-required>SKU</oj-label>
                </div>
                <div class="oj-flex-item">
          <oj-combobox-one id="control1"  style="max-width:20em"
                           options="{{stocksDP}}" 
                           value="{{selectStock}}">
          </oj-combobox-one>
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control2" show-required>Jumlah Pemesanan</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-number id="control2" required value="{{ordered}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control3" show-required>Jumlah Diterima</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-number id="control3" required value="{{received}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control4" show-required>Harga Beli</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-number id="control4" required value="{{price}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control5" show-required>Nomor Kwitansi</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-text id="control5" required value="{{receipt}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control5" show-required>Catatan</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-text id="control5" required value="{{note}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex"> 
                <div class="oj-flex-item">
      <oj-button id='save' on-click='[[saveClick]]'>Simpan</oj-button>
                </div>
                <div class="oj-flex-item">
      <oj-button id='cancel' on-click='[[cancelClick]]'>Batal</oj-button>
                </div>
              </div>
            </div>    
          </div>
   </div>
</oj-dialog>


