<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <div>
    <div class="oj-panel oj-panel-alt2">
  		<h1>Laporan Nilai Barang</h1>
      <oj-button id='downloadInventory' on-click='[[downloadInventoryClick]]'>Unduh</oj-button>
    </div>
    <br/>
    <div class="oj-panel oj-panel-alt2">
  		<h1>Laporan Penjualan</h1>
      <oj-button id='selling' on-click='[[sellingClick]]'>Unduh</oj-button>
    </div>
    <br/>
    <div class="oj-panel oj-panel-alt2">
  		<h1>Laporan Penjualan Bulanan</h1>
          <oj-label for="date">Pilih Bulan dan Tahun</oj-label>
          <oj-input-date id="date" value='{{value}}'>
          </oj-input-date>
      <oj-button id='sellingMonthly' on-click='[[sellingMonthlyClick]]'>Unduh</oj-button>
    </div>
    <br/>
    <div class="oj-panel oj-panel-alt2">
  		<h1>Migrasi</h1>
      <oj-button id='migration' on-click='[[migrationClick]]'>Lakukan</oj-button>
    </div>
    <br/>
  </div>
</div>
