<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
  <h1>Catatan Jumlah Barang</h1>
  <div>
    <div class="oj-panel oj-panel-alt2">
      <oj-button id='add' on-click='[[addClick]]'>Tambah</oj-button>
      <oj-button id='refresh' on-click='[[refreshClick]]'>Refresh</oj-button>
    </div>
    <br/>
    <div class="oj-panel oj-panel-alt2">
      <oj-table id='table' aria-label='Jumlah Barang'
      style='width: 1px; min-width: 100%;'
      data='[[dataprovider]]'
      edit-mode='rowEdit'
      on-oj-before-row-edit-end='[[beforeRowEditEndListener]]'
      columns-default.sortable='disabled' 
      row-renderer='[[rowRenderer]]'
      columns='[{"headerText": "SKU",
      "field": "sku"},
      {"headerText": "Nama Item", 
      "field": "description"},
      {"headerText": "Jumlah Sekarang", 
      "field": "amount"}]'>
    </oj-table>
  </div>
</div>
</div>
<script type="text/html" id="rowTemplate">
  <tr>
    <td data-bind="text: sku">
    </td>
    <td data-bind="text: description">
    </td>
    <td data-bind="text: amount">
    </td>
  </tr>
</script>
<script type="text/html" id="editRowTemplate">
  <tr>
    <td data-bind="text: sku">
    </td>
    <td>
      <oj-input-text id="it2" value="{{description}}" data-oj-context></oj-input-text>
    </td>
    <td data-bind="text: amount">
    </td>
  </tr>
</script>
<oj-dialog id="addStockDialog" title="Tambah Barang">
   <div slot="body">
          <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">  
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control1" show-required>SKU</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-text id="control1" required value="{{sku}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <oj-label for="control2" show-required>Nama Item</oj-label>
                </div>
                <div class="oj-flex-item">
                  <oj-input-text id="control2" required value="{{description}}"></oj-input-text>
                </div>
              </div>
              <div class="oj-flex"> 
                <div class="oj-flex-item">
      <oj-button id='save' on-click='[[saveClick]]'>Simpan</oj-button>
                </div>
                <div class="oj-flex-item">
      <oj-button id='cancel' on-click='[[cancelClick]]'>Batal</oj-button>
                </div>
              </div>
            </div>    
          </div>
   </div>
</oj-dialog>


